dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
TastyLexer.hs
TastyParser.hs
TastyParser.info
*.j
*.class
.DS_Store
*.ll
*.bc
*.s
ToJVM
ToLLVM
ParseTest
bin/
*.assem
*.liveness
*.tabsyn
Compile
Lex
Main
a.out
/Parse
/scraps
DebugTastyParser.hs
*.t
*.nt
src/Parser/DebugHastyParser.hs
src/Parser/DebugHastyParser.info
src/Parser/HastyLexer.hs
src/Parser/HastyParser.hs
src/Parser/HastyParser.info
programs/*.tasty
hasty
